
// Body
$body-bg: #0b0c0d;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$lightgray: #414141;
$dark-green: #003e45;

// Borders
$border-radius: 4px;
$border-radius-xs: 2px;