h1 {
  color: #fff;
}

.status {
  display: flex;

  &-column {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0.6%;

    &--header {
      background-color: $lightgray;
      padding: 5px;
      border-radius: $border-radius;
      text-transform: uppercase;
      color: #fff;
      border-bottom: 3px solid $green-light;
    }
  }
}
